<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut arcu accumsan, pulvinar nulla molestie, convallis ligula. Vestibulum euismod volutpat leo, at rutrum ipsum tristique et. Aenean eget auctor eros, eu tempor dolor.
        <br>
    </p>
</div>